[submodule "plugins"]
	path = plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "themes/voidy-bootstrap"]
	path = themes/voidy-bootstrap
	url = https://github.com/robulouski/voidy-bootstrap.git
